#modalAuthorization{
    ul.tab{
        width:100%;
        margin:0;
        padding:0;
        list-style:none;
        margin-bottom:20px;
        li{
            float:left;
            padding: 20px 31px;
            //border: 1px solid transparent;
            border-bottom: 1px solid #d5d8dc;
            &.active{
                border: 1px solid #d5d8dc;
                border-bottom: 1px solid transparent;
                border-radius:5px 5px 0 0;
                a{
                    border-bottom:1px solid transparent;
                }
            }
            a{
                text-transform:uppercase;
                font-family:'PT Sans';
                font-size:16px;
                color:#FFF;
                text-decoration:none;
                border-bottom:1px dotted;
                &:hover{
                    border:0;
                }
            }
        }
        
    }
    div{
        
        input{
            border:1px solid #d5d8dc;
            padding:10px;
            margin-top:20px;
            background:none;
            color:#FFF;
            display:block;
            width:100%;
            font-size: 20px;
        }
        input[type=submit]{
            text-align:center;
        }
        .btn{
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background:#2980b9;
            border:0;
            font-size: 14px;
            &:hover{
                background:#3498db;
            }
            &:active{
                background:#2980b9;
            }
        }
        p{
            text-align:center;
            &:after{
                border-top: 1px solid #d5d8dc;
                position:absolute;
            }
            &:before{
                border-top: 1px solid #d5d8dc;
                position:absolute;
            }
        }
        
    }
}