doctype html
html(ng-app="app")
	head
		title {{meta.title}} Заголовок

		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js', type='text/javascript')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
		script(type="text/javascript" src="//vk.com/js/api/openapi.js")
		
		
		if (locals.env == 'development')
			script(src='/js/build.js', type='text/javascript')
		else 
			script(src='/js/build.js', type='text/javascript')
			link(rel='stylesheet', href='/stylesheets/style.min.css')
		
		
	
		

		meta(name="description" content="{{meta.description || ''}}")
		meta(name="keywords" content="{{meta.keywords || ''}}")