include head

body()

   
    
    div.form-index
        div
            form
                div.from
                    label Откуда
                    div.select.big
                        select
                            option(value="Москва") Москва
                            option(value="Санкт-Петербург") Санкт-Петербург
                            option(value="Уфа") Уфа
                div.arrow
                div.where
                    label Куда
                    div.select.big
                        select
                            option(value="Египет") Египет
                            option(value="Турцияг") Турция
                            option(value="Кипр") Кипр
                            option(value="Испания") Испания
            
                ipnut(type="submit" value="Найти")
                
                div.calendar
                    label Период заезда в отель: 
                        b {{(a|date)||"pick start"}} - {{(b|date)||"pick end"}}
                    div(date-range start="a" end="b" style="position: relative; z-index:0")
    
  
                    