div#caption
	h1 Категория товара
	ul.breadcrumbs
		li 
			a(href="/") Главная
		li 
			a.active(href="/categories") Категория товара

.widthLayout
	.sideBar(ng-controller="sideBarCtrl") 
		.accordion__container
			.accordion__tab(ng-repeat="topCategory in topCats")
				.accordion__tab-title.radius-top(ng-click="openTab(topCategory)") 
					p{{topCategory}}
				.accordion__tab-content(ng-show="isOpenTab(topCategory)")
					ul
						li(ng-repeat="category in categories[topCategory]")
							a(href="#" ng-click="showItems(topCategory, category)") {{category}}
		.sliderBox
			.sideBlockTitle.radius-top
				p PRICE RANGE
			.sliderInside.radius-bottom
				.costSlider
					input(ng-model="value"  type="text" id="mySlider1" slider options="options")
	.mainPlace(ng-controller="itemsPlaceCtrl")
		.wrapper
			.topSortBar
				.leftSide
					p Сортировать по
					.sort
						a(href="#" class="sortActive") По названию
					.sort
						a(href="#") По цене
				.rightSide
					p Товаров на странице
					.sort
						a(href="#") 30
					.sort
						a(href="#" class="sortActive") 40
					.sort
						a(href="#") 50
			.categoryItem(ng-repeat="item in items")
				.item
					div
						.info
							a(href="#") {{item.name}}
							span.price {{item.price}} руб.
						a.addCart Добавить товар
			
			.paginator
				.leftArrow
					span <
				.pages
					span(class="activePage") 1
					span 2
					span 3
					span 4
					span 5
					span 6
					span ...
					span 256
				.rightArrow
					span >
			div