div#caption(ng-controller="itemCtrl")
	h1 {{item}}
	ul.breadcrumbs
		li 
			a(href="/") Главная
		li 
			a.active(href="/item") {{item}}
.widthLayout(ng-controller="itemCtrl")
	.wrapper
		.itemPhotoBar
			.curImage
			.imageStack
				div
					.miniImage
				div
					.miniImage
				div
					.miniImage
				div
					.miniImage
		.itemDescr
			div
				p
					strong Артикул: 
					span 12332412
				.itemInfo
					p
						strong Информация: 
						span Как мы говорили ранее, свойство __proto__ доступно в явном виде не во всех браузерах. Поэтому используются другие способы для создания объектов с данным прототипом.
		.itemAddToCartForm
			p {{itemPrice}} р
			div
				a(class="addCart") Добавить в корзину
		.clear
		.recomendations
			div Мы рекомендуем
			div
				.recomendation
					div
						.itemPic
						.itemText
							div 
								p Object.prototype.
							div
								p(class="itemCost") 10 000р
				.recomendation
					div
						.itemPic
						.itemText
							div 
								p Object.prototype. Этот прототип ставится всем объектам Object, и поэтому его методы доступны с момента создания
							div
								p(class="itemCost") 10 000р
				.recomendation
					div
						.itemPic
						.itemText
							div 
								p Object.prototype. Этот прототип ставится всем объектам Object
							div
								p(class="itemCost") 10 000р
				.recomendation
					div
						.itemPic
						.itemText
							div 
								p Object.prototype. Этот прототип ставится всем объектам Object, и поэтому его методы доступны
							div
								p(class="itemCost") 10 000р
				.recomendation
					div
						.itemPic
						.itemText
							div 
								p Object.prototype. Этот прототип ставится всем объектам Object, и поэтому его методы доступны с момента создания
							div
								p(class="itemCost") 10 000р
					
