div#caption
    h1 Личный кабинет
    ul.breadcrumbs
        li
            a(href="/") Главная
        li
            a.active(href="/lk") Личный кабинет
div.content
    div.innerBlock
        div
            div
                p.theader Информация
                div.tableInfo
                    div.tableRow
                        div
                            p Ваше имя:
                        div
                            p Дмитрий
                    div.tableRow
                        div
                            p Электронная почта:
                        div
                            p asddfas@sadf.sd
                    div.tableRow
                        div
                            p Дата рождения:
                        div
                            p 19 июля
                    div.tableRow
                        div
                            p Адрес доставки:
                        div
                            p 450009, Уфа, Электрификации, 54/7, 4
            div.buttonBlock
                div
                    a(href="#" class="buttonBlue") РЕДАКТИРОВАТЬ
                div
                    a.ajax(href="#") Изменить пароль
        div
            div
                p.theader Заказы
                div.tableOrder
                    table
                        tr
                            th Номер заказа
                            th Дата заказа
                            th Статус
                            th Дата отправки
                        tr
                            td 
                                a(href="#") 23452398
                            td 19.02.2014
                            td.delivered Доставлено
                            td 22.02.2014
                        tr
                            td 
                                a(href="#") 23154390
                            td 01.03.2015
                            td.canceled Отменен
                            td 05.03.2015
                        tr
                            td 
                                a(href="#") 23452398
                            td 23.03.2015
                            td.sent Отправлено
                            td 24.03.2015
            div.buttonBlock
                div.center
                    a(href="#" class="buttonBlue") ИСТОРИЯ ЗАКАЗОВ

