div#caption
	h1 Авторизация
	ul.breadcrumbs
		li 
			a(href="/") Главная
		li 
			a.active(href="/login") Авторизация
div.content
	div.width-50
		div 
			h3 Войти
			form
				input(name="email" ng-model="email" placeholder="Электронная почта")
				input(name="password" type="password" ng-model="password" placeholder="Пароль")
				input(type="submit" value="Войти")
	div.width-50
		div 
			h3 Регистрация
			form
				input(name="email" ng-model="email" placeholder="Электронная почта")
				input(type="submit" value="Зарегистрироваться")