div#modalAuthorization(ng-controller="authorizationCtrl")
    
    
    ul.tab(ng-init="tab=1")
        li(ng-class="{active: tab==1}")
            a(href="#" ng-click="tab=1") Вход
        li(ng-class="{active: tab==2}")
            a(href="#" ng-click="tab=2") Регистрация
        li(ng-class="{active: tab==3}")
            a(href="#" ng-click="tab=3") Забыли пароль
    div.clear
            
            
    
    div(ng-class="{hide: tab!=1}")
        div.error(ng-class="!!error ? 'flipInX animated' : 'flipOutX hide'")
            p {{error}}
        form
            input(placeholder="Электронная почта" type="text" ng-model="email")
            input(placeholder="Пароль" type="password" name="password" ng-model="password")
            input.btn(type="submit" value="Войти" ng-click="login()")
        div.social
            p Или
            
            a.vk(href="#") Вконтакте
            a.vk(href="#") Фейсбук
    div(ng-class="{hide: tab!=2}")
        div.error(ng-class="!!error ? 'flipInX animated' : 'flipOutX hide'")
            p {{error}}
        div.ok(ng-class="!!ok ? 'flipInX animated' : 'flipOutX hide'")
            p Спасибо за регистрацию! Мы отправили вам на почту ссылку с подтверждением!
        form
            input(placeholder="Электронная почта" type="text" ng-model="email")
            input.btn(type="submit" value="Зарегистрироваться" ng-click="register()")
    div(ng-class="{hide: tab!=3}")
        form
            input(placeholder="Электронная почта" type="text" ng-model="email")
            input.btn(type="submit" value="Восстановить пароль")
    